@{ 

    var auth = WeDo.Models.AuthorizationGateway.GetAuthorizedInfo();

    if (auth == null)
    {
        auth = new WeDo.DAL.UsersModel();
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WeDo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" href="~/Content/toastr.min.css"  rel="stylesheet"/>

</head>
<body ng-app="angelHack" style="background-color:#F1F2F6">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-4">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">WeDo</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
                <p class="navbar-text navbar-right"><a class="navbar-link" href="">Signed in as @auth.Fullname</a></p>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">

                @RenderBody()
            </div>

        </div>
    
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - WeDo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/bootflat/js/site.min.js"></script>
    <script type="text/javascript" src="~/Scripts/toastr.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-animate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-touch.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript" src="~/Scripts/custom/Startup.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
